openapi: 3.0.0
info:
  description: This file contains the OpenAPI specifications for The Furniture Bros API
  title: TheFurnitureBrosOpenAPI
  version: 1.0.0
servers:
  - url: http://thefurniturebros.com
    description: Production server
  - url: http://localhost:5000
    description: Local server
paths:
  /auth/register:
    post:
      summary: Register an Account
      description: This endpoint allows you to register a user. Once registered, it will return a authentication token.
      tags:
        - Auth
      requestBody:
        description: |
          An object containing the parameters to create and register an account.
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  example: john doe
                  description: |
                    The name
                email:
                  type: string
                  example: john_doe12@gmail.com
                  description: |
                    the desc
                password:
                  type: string
                  example: "123456"
                  description: |

                admin:
                  type: boolean
                  example: false
                  description: |
      responses:
        200:
          description: Successful response.
        400:
          description: See message decription.
        500:
          description: see message description.
      externalDocs:
        description: Learn more about JSON Web Token (JWT).
        url: https://auth0.com/docs/secure/tokens/json-web-tokens
