openapi: 3.0.0
info:
  description: This file contains the OpenAPI specifications for The Furniture Bros API
  title: TheFurnitureBrosOpenAPI
  version: 1.0.0
servers:
  - url: http://thefurniturebros.com
    description: Production server
  - url: http://localhost:5000
    description: Local server
paths:
  /auth/register:
    post:
      summary: Register an Account
      description: This endpoint allows you to register a user. Once registered, it will return an API key.
      tags:
        - Auth
      requestBody:
        description: |
          An object containing the parameters to create and register an account.
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - name
                - email
                - password
              properties:
                name:
                  type: string
                  description: |
                    The name of the user.
                email:
                  type: string
                  format: email
                  description: |
                    The email address of the user.
                password:
                  type: string
                  description: |
                    The password for the account.
                admin:
                  type: boolean
                  default: false
                  description: |
                    Specifies whether the user has administrative privileges.
              example:
                name: "john doe"
                email: "john_doe12@gmail.com"
                password: "123456"
      responses:
        "200":
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  token:
                    type: string
                    description: |
                      The API key used to authenticate and authorize the account.
                example:
                  token: "eyJhbGciOiJIUzI1NiIsInR5cBGlR1fkzXQKgxLshzVL2lcajQNXEUTH09N-csr98"
        "400":
          description: See message decription.
        "500":
          description: see message description.
      externalDocs:
        description: The API key uses JSON Web Token (JWT) to authenticate. Learn more about it here.
        url: https://auth0.com/docs/secure/tokens/json-web-tokens
  /auth/login:
    post:
      summary: Get an API key
      description: This endpoint allows you to login to an account, and retrieve an API key.
      tags:
        - Auth
      requestBody:
        description: |
          An object containing the login details.
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - name
                - email
                - password
              properties:
                name:
                  type: string
                  description: |
                    The name of the user.
                email:
                  type: string
                  format: email
                  description: |
                    The email address of the user.
                password:
                  type: string
                  description: |
                    The password of the account.
              example:
                name: "john doe"
                email: "john_doe12@gmail.com"
                password: "123456"
      responses:
        "200":
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  token:
                    type: string
                    description: |
                      The API key used to authenticate and authorize the account. 
                      Use this API key to access the different endpoints.
                  user:
                    type: object
                    description: |
                      The parameters related to the user. This gives information about the user.
                    properties:
                      _id:
                        type: string
                        description: |
                          The ID of the user.
                      name:
                        type: string
                        description: |
                          The name of the user.
                      email:
                        type: string
                        format: email
                        description: |
                          The email address of the user.
                      password:
                        type: string
                        description: |
                          The encrypted password of the user.
                      admin:
                        type: boolean
                        description: |
                          The administrtive privilege of the user.
                      __v:
                        type: integer
                        description: |
                          The version of the user. The version increases whenever the account is modified.
                example:
                  token: "eyJhbGciOiJIUzI1NiIsInR5cBGlR1fkzXQKgxLshzVL2lcajQNXEUTH09N-csr98"
        "400":
          description: See message decription.
        "500":
          description: see message description.
